[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bibtexparser = "*"
decorator = "*"
networkx = "*"
pyparsing = "*"
xdot = "*"
vext = "*"
"vext.gi" = "*"
numpy = "*"
pygobject = "*"

[dev-packages]

[requires]
python_version = "3"
